@charset "UTF-8";
@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 100;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');}



@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 300;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');}



@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 400;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');}



@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 500;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');}



@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 700;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');}



@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 900;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');}
body{
	font-family: "Noto Sans KR";
}
#content{
	width:1440px;
	height:900px;
}
#line{
	margin-top: 3px;
	width: 100%;
	height: 1px;
	background-color: #DFDFDF;
}
#shareArea{
	width: 100%;
	height: 40px;
	display: inline-block;
}
#userArea{
	width: 200px;
	height: 40px;
	display: inline-block;
}
#share{
	width:200px;
	height:30px;
	float: right;
}
#shareBtn{
	width: 90px;
	font-size: 13px;
	text-align: center;
	background-color: white;
	border: 3px solid #ffffff;
	height: 30px;
	border-radius: 3px;
}
#shareBtn:hover{
	background-color: #ececec;
	border: 3px solid #ececec;
}
#sharetitle{
	margin-left: 10px;
	margin-bottom: 20px;
}
#sharedIcon{
	margin-top:2px;
	width: 20px;
	height: 18px;
}
#contentBox2{
	width: 100%;
	height: 690px;
	margin-top:50px;
	border-radius: 5px;
	border: 1px solid #E8E8E8;
}
#epic-area{
	width: 14%;
	height: 700px;
	display: inline-block;
	float: left;
}
#epic-wrap{
    width:100%;
    height:100%;
}
#epic-con-area{
	width:86%;
	height:100%;
	display: inline-block;
	overflow-x:scroll;
	overflow-y:hidden; 
}
#epic-con-area::-webkit-scrollbar{
	width: 3px;
	padding-top: 10px;
}
#epic-con-area::-webkit-scrollbar-thumb{
	background-color: #D9D9D9;
	border-radius: 5px;
}
#epic-title{
	width: 100%;
	height: 60px;
	border-bottom: 1px solid #DFDFDF;
	border-right: 1px solid #DFDFDF;
	text-align: center;
	font-size: 17px;
}
#epic-title-cont{
	width: 100%;
	max-height: 625px;
	overflow-y: scroll;
	overflow-x:hidden; 
}
#epic-title-cont::-webkit-scrollbar{
	width: 5px;
	padding-top: 10px;
}
#epic-title-cont::-webkit-scrollbar-thumb{
	background-color: #D9D9D9;
	border-radius: 3px;
}
/* #epic{
	font-size: 17px;
	text-align: center;
} */
#epic-con-title{
	width: 100%;
	height: 63px;
	border-bottom: 1px solid #DFDFDF;
}
#epic-con-cont{
	width: 100%;
	height: 650px;
}

#ep-ti{
	height: 38px;
	text-align: center;
}
#ep-ti:nth-child(even){
	background-color: #f5f5f5;
}
#epic-add-btn{
	padding: 20px;
	height: 90px;
}
#ep-ad-btn{
	font-size:15px;
	border:0;
	background-color: white;
	width: 100%;
}
#ep-ad-btn:hover{
	border:0;
	background-color: white;
}
#ep-ti-tx{
	width: 100%;
	height: 25px;
	border: 1px solid #E8E8E8;
	border-radius: 3px;
}
#epic{
	display: inline-block;
	width:100%;
	margin-top: 20px;
}
#epic-mon{
	display: inline-block;
	width:100%;
	margin-left: 5px;
	font-size: 12px;
}
#epic-dd{
	display: inline-block;
	width:100%;
	margin-left: 5px;
	font-size: 13px;
}
#epic-day{
	display: inline-block;
	width:100%;
	margin-left: 5px;
	font-size: 13px;
}

.today-btn{
	width: 50px;
	height: 30px;
	display: inline-block;
	margin-left: 15px;
	float: left;
}
#week-dropdown{
	margin-left:4px;
	width: 80px;
	height: 30px;
	display: inline-block;
	float: left;
}
#unsch{
	width: 80px;
	height: 30px;
	display: inline-block;
	margin-left:4px;
}
#btn-share-area{
	width: 300px;
	height: 30px;
	display: inline-block;
	float: right;
}

<!-- 드롭다운 -->
 .dropdown {
    width: 120px;
    display: inline-block;
    background-color: rgb(170, 170, 170);
    box-shadow: 0 0 2px #cccccc;
    transition: all .5s ease;
    position: relative;
    font-size: 14px;
    color: #474747;
    height: 100%;
    text-align: center;
    margin-right: 30px;
    margin-left: 30px;
    border-radius: 10px;
    border: 1px solid #dd0351;
  }
  .dropdown .select {
      cursor: pointer;
      display: block;
      padding: 5px
  }
  .dropdown .select > i {
      font-size: 13px;
      color: #888;
      cursor: pointer;
      transition: all .3s ease-in-out;
      float: right;
      line-height: 20px
  }
  .dropdown:hover {
      box-shadow: 0 0 4px #FEF5F8;
      text-decoration-color: #dd0351;
      background-color: #FEF5F8;
      border-color: #FEF5F8;
  }
  .dropdown:active {
      background-color: #FEF5F8;
  }
  .dropdown.active:hover,
  .dropdown.active {
      box-shadow: 0 0 4px #FEF5F8;
      border-radius: 2px 2px 0 0;
      background-color: #f8f8f8;
  }
  .dropdown.active .select > i {
      transform: rotate(-90deg)
  }
  .dropdown .dropdown-menu {
      position: absolute;
      background-color: #fff;
      width: 80px;
      left: 0;
      margin-top: 1px;
      box-shadow: 0 1px 2px#FEF5F8;
      border-radius: 10px;
      overflow: hidden;
      display: none;
      max-height: 144px;
      overflow-y: auto;
      z-index: 9
  }
  .dropdown .dropdown-menu li {
      padding: 5px;
      transition: all .2s ease-in-out;
      cursor: pointer
  } 
  .dropdown .dropdown-menu {
      padding: 0;
      list-style: none
  }
  .dropdown .dropdown-menu li:hover {
      color: #dd0351;
      background-color: #FEF5F8;
  }
  .dropdown .dropdown-menu li:active {
      background-color: #FEF5F8;
  }
  .container{
  	overflow:scroll;
  }
  #epic-title-wrap{
  	width: 100%;
  	height:630px;
  	position: relative;
  	border-right: 1px solid #DFDFDF;
  }
     
.wrap-loading{ /*화면 전체를 어둡게*/
     position: fixed;
     left:0;
     right:0;
     top:0;
     bottom:0;
     background: rgba(0,0,0,0.2); /*not in ie */
     filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#20000000', endColorstr='#20000000');    /* ie */
}
      
.wrap-loading div{ /*로딩 이미지*/
     position: fixed;
     top:50%;
     left:50%;
     margin-left: -21px;
     margin-top: -21px;
}
      
.wrap-loading div > img {
    width: 20%;
    height: 20%;
}
      
.display-none{ /*감추기*/
    display:none;
}
       
.dayBtn{
	width: 60px;
	height: 30px;
	border-radius: 10px;
	background-color: #2B2B49;
	border: none;
	outline: none;
	color: white;
	cursor: pointer;
}
.dayBtn2{
	width: 80px;
	height: 30px;
	border-radius: 10px;
	background-color: #2B2B49;
	border: none;
	outline: none;
	color: white;
	cursor: pointer;
}
#share-timeline{
	display: inline-block;
	width: 50px;
	height: 10px;
	font-size: 14px;
}
#share-btn-area{
	display: inline-block;
	width: 100px;
	height: 30px;
}
#url-form{
	margin-left: 155px;
}
#url-form-btn{
	margin-top: 20px;
	margin-left: 160px;
}
#ShareUrl{
	border:1px solid #DD0351;
	border-radius: 3px;
}
#clipbtn{
	border: 1px solid #DD0351;
	outline: o;
	border-radius: 3px;
	background-color: white;
}
#clip-close-btn{
	border: 1px solid #2B2B49;
	outline: o;
	border-radius: 3px;
	background-color: white;
}