
 body{
 	font-family: 'Noto Sans KR';
 }


	#ListState{
		margin-top: 20px;
	}
	
	#topArea{
		height: 60px;
	}
	
	    #searchSprint > input {
	    	float:left;
    		width: 256px;
    		height: 15px;
    		border-radius : 10px;
    		margin-top : 25px;
    		height: 35px;
    		background-color: lightgray;
    		color: white;
    		font-weight: normal;
    		padding-left: 10px;
    	}
    	
	    #searchSprint > input:focus {
    		transition: all ease 1s 0s;
    		background-color: #DD0351;
    		font-weight: normal;
    	}
    	
    	/* placeholder색변경  */
    	 #searchSprint > input::placeholder {color: white;}
    	 #searchSprint > input:-ms-input-placeholder {color: white;} 
    	 #searchSprint > input::-webkit-input-placeholder {color:white;}
    	
    	#searchSprint {
    		width: 500px;
    		text-align: right;	
    	}
    	
/* 왼쪽 리스트 */
    	#sprintList {
			width: 250px;
			height: 500px;
			margin-top: 10px;
			padding:10px;
			border: 2px lightgray solid;
			border-radius: 10px;
			text-align: center;
			overflow: scroll;
		}
	
		#sprintList > table {
			margin-top: 5px;
			width : 100%;
			table-layout: fixed;
			vertical-align: top;
			overflow: scroll;
			font-size: small;
		}
		
		#sprintList > table > tbody > tr > td {
			text-overflow:ellipsis; 
			overflow:hidden; 
			white-space:nowrap;
		}
		
    	
    	.sprintImg{
    		margin-top:5px;
    		width: 50px;
    		vertical-align: top;
    	}
    	
		.sprintName{
			text-align : left;
			width: 70%;
		}
		
		.progressLine{
			height: 50px;
			vertical-align: top;
			width: 70%;
			text-align: left;
		}
		
		.progressPercent{
			width : 30%;
			height: 50px;
			vertical-align: top;
			font-size: large;
    		font-weight: bold;
		}
		
		.SprintButtonArea{
			width: 270px;
			margin-top: 10px;
			background:#DD0351;
            height: 40px;
            border-radius: 10px;
            border: 0;
            font-size: 14px;
            color: white;
            text-align: center;    
            cursor: pointer;
		}
		
		#sprint {
			width:280px;
			margin-right: 15px;
			display: inline-block;
		}
		
		/*--------------------------------------*/
		
		#taskListArea{
			width : 73%;
			height : 630px;
			float: right;
			margin-right : 10px;
			display: inline-block;
		}
		
		
		#bottomArea{
			width: 100%;
			height: 700px;
			display: inline-block;
		}
		
		#sprintInfoNon{
			display: inline-block;
			background-color: #ebebeb;
			width: 100%;
			height: 58px;
			border-radius: 5px;
			
		}
		
		#sprintInfoNon > div > table > tbody > tr > td{
			font-weight: bold;	
		}
		
		#sprintCodeNon{
			display: inline-block;
			width: 60px;
			height: 30px;
			background-color: gray;
			border-radius: 5px;
			text-align: center;
			margin: 15px;
			float: left;
		}
		
		#sprintCodeStarted{
			display: inline-block;
			width: 60px;
			height: 30px;
		/* 	background-color: #25282B; */
			color: white;
			border-radius: 5px;
			font-weight : bold;
			text-align: center;
			margin: 15px;
			float: left;
				 background-image:
	   -webkit-linear-gradient(top, 
	                           rgba(255, 255, 255, .25), 
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, #09c, #DD0351);
		}
		
		#sprintCodeFinished{
			display: inline-block;
			width: 60px;
			height: 30px;
			color: white;
			background-color: #DD0351;
			border-radius: 5px;
			text-align: center;
			margin: 15px;
			float: left;
		}
		
		#sprintInfomation{
			display: inline-block;
			margin-top: 8px;
		}
		
		#sprintCounting{
			display: inline-block;
			float: right;
			padding: 15px;
		}
		
		#sprintCounting > table > tbody>tr>td{
			font-size: 15px;
		}
		
		#sprintInfomation > table > tbody> tr>td{
			font-size: 13px;
		}
		
		#sprintTaskList{
			overflow: scroll;
			width: 100%;
			max-height : 75%;
			min-height : 50%;
			border: 0.5px solid '#C4C4C4';
		}
		
		#sprintTaskList > table{
			margin-top : 5px;
			width: 100%;
			height : 100%;
			font-size: small;
			border: 1px solid lightgray;
			text-align: center;
			border-spacing: 10px;
			
		}
		
		#sprintTaskList > table > thead {
			font-weight: bold;
		}
		
		.taskName{
			text-align: left;
		}
		
		.taskStatus1{
			border-radius: 5px;
			background-color: #DD0351;
			padding: 5px;
			color : white;
			
		}
		
		.taskStatus2{
			border-radius: 5px;
			background-color: #25282B;
			color : white;
			padding: 5px;
		}
		
		.taskStatus3{
			border-radius: 5px;
			background-color: gray;
			color : white;
			padding: 5px;
		}
		
		.realTime{
			color: #DD0351;
			font-weight: bold;
		}
		
		.pointAverage{
			border-radius: 50px;
			background-color: white;
			color : black;
			padding: 5px;
			font-weight: bold;
			margin-left: 10px;
		}
		
		.tasknonFinish {
			border-radius: 100px;
			background-color:  #C4C4C4;
			padding: 5px;
			font-weight: bold;
		}
		.taskFinish {
			border-radius: 100px;
			background-color:  #DD0351;
			padding: 5px;
			font-weight: bold;
			color:white;
		}
		.taskIng {
			border-radius: 100px;
			background-color:  #25282B;
			padding: 5px;
			font-weight: bold;
			color:white;
		}
		
		.more{
			background:#ebebeb;
            height: 30px;
            width: 10px;
            border-radius: 5px;
            border: 0;
            font-size: 13px;
            font-weight : bolder;
            color: black;
            text-align: center;
            vertical-align: middle;  
		}
		
		#sprintIntro{
			font-size: small;
			margin: 10px;
			float: left;
		}
		
		.taskButtonArea{
			float: right;
			margin: 10px;
			margin-right: 0px;
		}
		
		#rectangle5:hover{
			background:#DD0351;
            height: 30px;
            width: 80px;
            border-radius: 1000mm;
            border: 0;
            font-size: 10px;
            color: white;
            text-align: center;     
            cursor: pointer;
		}
		
		.sprinttbody{
			cursor: pointer;
		}
		
		button{
			outline: 0;
			cursor: pointer;
		}
		
		.wrap-loading{ /*화면 전체를 어둡게*/
		    position: fixed;
		    left:0;
		    right:0;
		    top:0;
		    bottom:0;
		    background: rgba(0,0,0,0.2); /*not in ie */
		    filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#20000000', endColorstr='#20000000');    /* ie */
		}
		
		.wrap-loading div{ /*로딩 이미지*/
		    position: fixed;
		    top:50%;
		    left:50%;
		    margin-left: -21px;
		    margin-top: -21px;
		}
		
		.wrap-loading div > img {
			width: 20%;
			height: 20%;
		}
		
		.display-none{ /*감추기*/
		    display:none;
	    }
	    
	    #updateSprintName{
	    	
	    	border-bottom: 1px solid black;
	    }
	    
	    .updateInput{
	    	float:left;
    		width: 270px;
    		border-radius : 5px;
    		height: 35px;
    		background-color: lightgray;
    		color: black;
    		font-weight: normal;
    		padding-left: 10px;
	    }
	    
	     .updateInput:focus {
    		transition: all ease 0.3s 0s;
    		background-color: #DD0351;
    		color: white;
    		font-weight: normal;
    	}
    	
    	
	.updateSprintIntro{
		 	height: 150px;	
	}
	
	.SprintUpdateModalTable > tbody > tr {
		height: 50px;
		font-size: small;
	}
	
	
	.sprintBtnF{
	float: right;
	margin-left: 5px;
	}
	
	.sprintBtnS{
	float: right;
	margin-left: 5px;
	}
	
	progress[value] {
		width: 160px;
	  height: 20px;
	    -webkit-appearance: none;
   appearance: none;
	  
	  
	}
	
	progress[value]::-webkit-progress-value {
 	 background-image:
	/*    -webkit-linear-gradient(-45deg, 
	                           transparent 33%, rgba(0, 0, 0, .1) 33%, 
	                           rgba(0,0, 0, .1) 66%, transparent 66%), */
	   -webkit-linear-gradient(top, 
	                           rgba(255, 255, 255, .25), 
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, #09c, #DD0351);
    border-radius: 3px; 
    background-color : #f9f9f9;
    background-size: 35px 20px, 100% 100%, 100% 100%;
	animation: animate-stripes 5s linear infinite;
}
	.progress-bar {
  background-color: whiteSmoke;
  border-radius: 2px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25) inset;

  width: 250px;
  height: 20px;
  
  position: relative;
  display: block;
}
