body{
    margin:0;
    box-sizing:border-box;
    overflow-x: hidden;
}
header{
    height: 120px;
    width: 100vmax;
    display: inline-block;
}
#head-wrapper{
	margin-left:auto;
	margin-right:auto;
    height: 70px;
    width: 1250px;
    margin-top:30px;

}
#header-left{
    float: left;
    width: 800px;
    height: 100%;
}
#stepup-logo{
	height: 60px;
}

#header-middle{
  	float: left;
    width: 170px;
    height: 100%;
}
#header-right{
    float: left;
    width: 170px;
    height: 100%;
}
.loginBtn{
   width:170px;
   height:50px;
   line-height:50px;
   text-align:center;
   font-family: Noto Sans KR;
   font-style: normal;
   font-weight: normal;
   font-size: 20px;
   color: #000000;
}
.joinBtn{
   width:170px;
   height:50px;
   line-height:50px;
   text-align:center;
   font-family: Noto Sans KR;
   font-style: normal;
   font-weight: 600;
   font-size: 20px;
   letter-spacing: 0.2px;
   color: #FFFFFF;
   background: #DD0351;
   box-shadow: 0px 8px 16px rgba(0, 126, 255, 0.16);
   border-radius: 8px;
   display: inline-block;
   float: left;
}

/* 투명 배경, 핑크색 테두리 버튼 */
.contactBtn{
	width:170px;
	height:50px;
	border: 1px solid #DD0351;
	box-sizing: border-box;
	border-radius: 8px;	
	font-family: Noto Sans KR;
	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 45px;
	align-items: center;
	text-align: center;
	letter-spacing: 0.2px;
	color: #DD0351;
	display: inline-block;
	float: left;
	margin-left: 30px;
}


/* 메인 페이지 header 아래 line */
#mainPage-header-line{
    border: 1px solid #D9D9D9;
    margin-bottom: 20px;
}

#mainPage-section1{
    width: 100vmax;
    height: 600px;
    background: #FCF8F9;
    display: inline-block;
}

.section-wrapper1{
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	width: 1320px;	
}
.section-wrapper21{
	height: 500px;
	display: block;
	
}
.section-wrapper22{
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	width: 1400px;
}

#section1-article1, #section1-article2{
    margin-left: auto;
    margin-right: auto;
    float: left;
    height: 600px;
}

/* 최상단 배너 글자 박스 */
#section1-article1{
	padding-top: 100px;
	box-sizing: border-box;	
	width: 800px;
}

#section1-article1-title1{
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 101px;
    color: #000000;
}

#section1-article1-title2{
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 50px;
    color: #000000;
    margin-top: 20px;
}

#section1-article1-btn{
	margin-top: 35px;
	
}

/* 애자일 이미지 박스 */
#section1-article2{
	width:512px;
	padding-top: 40px;
	box-sizing: border-box;
}
/* 애자일 이미지 크기 */
#img_mainAgile{
	width: 512px;
}

#mainPage-section2{
    width: 100vmax;
    height: 670px;
    background: white;
    display: inline-block;
}

#mainPageCkickMe{
    margin-top: 40px;
    text-align: center;
    height: 100px;
    font-family: Noto Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 70px;
    letter-spacing: 0.1px;
    color: #000000;
}

#mainRedBox{
    width: 100vmax;
    height: 127px;
    background: #DD0351;
    padding-left: 50px;
    padding-top:35px;
    box-sizing: border-box;
    float: left;
}

#mainRedBoxText{
	font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
    float: left;
    width: 500px;
    height: 100%;
}

/* 기능 click 가능한 부분 */
#clickMeImg{
	margin-right:230px;
	width: 750px;
	height: 465px;
	background: orange;
	float: right;
	margin-top: -60px;
}




/* 기능 상세 소개 */
#mainPage-section3{
    width: 100vmax;
    height: 3500px;
    background: white;
}

/* article 기본 font css */
.title1{
   font-family: Noto Sans KR;
   font-style: normal;
   font-weight: bold;
   font-size: 45px;
   line-height: 85px;
   color: #DD0351;
   
}
.title2{
   font-family: Noto Sans KR;
   font-style: normal;
   font-weight: bold;
   font-size: 45px;
   line-height: 60px;
   color: #000000;
}

/* 타임라인 기능 소개 article size*/
#section3-article1{
   background: #FCF8F9;
   height: 600px;
   padding-left: 200px;
   padding-top: 150px;
   box-sizing: border-box;
}
#section3-article2{
   background: red;
   height: 950px;
   padding-left: 200px;
   padding-top: 70px;
   box-sizing: border-box;
}
#section3-article3{
   background: blue;
   height: 250px;
   padding-left: 200px;
   box-sizing: border-box;
}
#section3-article4{
   background: yellowgreen;
   height: 550px;
   padding-left: 200px;
   padding-top: 100px;
   box-sizing: border-box;
}
#section3-article5{
   background: lightgreen;
   height: 550px;
   padding-left: 200px;
   box-sizing: border-box;
}

/* 기능 설명 박스 왼쪽 */
.article-title-box{
   float:left;
}

/* 기능 설명 박스 오른쪽 */
.article-title-box2{
    display: inline-block;
    float:right;
	margin-right: 100px;
}

/* board 기능 설명 박스 */
.boardSection{
	margin-top: 90px;
	margin-bottom: 110px;
}


/* issue 기능 설명 박스 */
.issueSection{
	margin-left: 250px;
	margin-top: 30px;
}



/* 기능 소개 부분 이미지 */
#img_timeline{
   display: inline-block;
   float:right;
   margin-top:-220px;
   margin-right:190px; 
}
.img_timeline{
   display: inline-block;
}

#img_board{
	float:left;
	margin-top: 60px;
	
}

#img_standupMeeting{
	float: right;
	margin-right: 130px;
	margin-top: -150px;
	
}
.standUpMeetingSection{
	margin-top: -200px;
}

.feedbackForm{
	margin-top: 30px;
}



/* 자주묻는 질문 영역 */
#mainPage-section4{
    width: 100vmax;
    height: 477px;
    background: #C4C4C4;
}

#mainPage-section5{
    padding: 120px;
    box-sizing: border-box;
    width: 100vmax;
    height: 550px;
    background: #DD0351;
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #FFFFFF;
}
footer{
    margin: 0;
    background: #670025;
    color: white;
    display: inline-block;
    height: 150px;
    width: 100vmax;
    box-sizing:border-box;
    padding-left: 400px;
}

#footer-left{
    float: left;
}
#footer-right{
    float: left;
    text-align:left;
    padding: 20px;
    box-sizing: border-box;

}