body {
	font-family: 'Noto Sans KR';
}

#backimg {
	width: 100%;
	height: 120px;
	background-color: pink;
	z-index: -10;
}
#backInput {
	z-index:-1;
}

#backSrc {
	width: 100%;
	height: 120px;
	background-color: pink;
	z-index: -1;
}

#backUpload {
	margin-left:300px;	
}
#mainProfile {
	width: 100px;
	height: 100px;
	border-radius: 75px;
	margin-left: 100px;
	margin-top: -20px;
	background-color: gray;
}

#profilePhoto1 {
	width: 100px;
	height: 100px;
	z-index: 1;
	border-radius:50px;
}
#gdsImg {
	width: 100px;
	height: 100px;
	border-radius:50px;
}

#profilePhoto2 {
	width: 80px;
	height: 80px;
	margin-left: 10px;
	margin-top: 10px;
	z-index: 1;
}

#name {
	margin-left: 100px;
	margin-top: 20px;
	font-size: 30px;
}

.personalInfo {
	margin-left: 100px;
	margin-top: 20px;
}

#manage {
	width: 300px;
	height: 30px;
	background-color: #F1F1F1;
	text-align: center;
	vertical-align: center;
	border-radius: 5px;
}

#manageTable {
	width: 300px;
	height: 450px;
	border: 1px solid #F1F1F1;
	margin-top: 10px;
	border-radius: 5px;
	margin-right:90px;
	float:left;
}

.iconImage {
	width: 30px;
	height: 30px;
	z-index: 1;
}

.info {
	width: 50px;
	height: 40px;
}

.teamList {
	width: 600px;
	height: 200px;
	background-color: #F1F1F1;
	padding-top: 1px;
	border-radius: 5px;
	overflow-x :auto;
}

#team {
	font-size: 20px;
	margin-top:-20px;
}

#teamProfile {
	width: 100px;
	height: 100px;
	border-radius: 75px;
	margin-top: 10px;
	margin: 0 auto;
	background-color: gray;
}

#teamName {
	z-index: 1;
	font-size: 18px;
	text-align:center;
}

#teamBack {
	width: 150px;
	height: 165px;
	margin-left: 10px;
	margin-top: 5px;
	background-color: white;
	padding-top: 20px;
	border-radius: 5px;
}

#project {
	margin-top: 20px;
	font-size: 20px;
}

#projectList {
	width: 600px;
	height: 200px;
	background-color: #F1F1F1;
	padding-top: 1px;
	border-radius: 5px;
	overflow-y :auto;
}

#projectListBack {
	width: 580px;
	height: 40px;
	background-color: white;
	margin-top: 10px;
	margin-left: 10px;
	padding-top: 8px;
	border-radius: 5px;
}

#projcetLogo {
	width: 30px;
	height: 30px;
	border-radius: 75px;
	margin-left: 13px;
	background-color: gray;
}

#projectName {
	margin-left: 80px;
	margin-top: -30px;
}

#infoInput {
	border: 0;
	outline: 0;
	margin-left: -50px;
	height: 35px;
}

.job {
	float: left;
}

.row {
	padding-left: 30px;
	width: 30px;
	height: 30px;
	margin-left: 30px;
}

.btnImage {
	width: 20px;
	height: 20px;
}

.jobbtn {
	display: none;
}

.deptbtn {
	display: none;
}

.companybtn {
	display: none;
}
#rectangle6 {
            background:#DD0351;
            height: 30px;
            width: 80px;
            border-radius: 10px;
            border: 0;
            font-size: 8px;
            color: white;
            text-align: center;     
}
#goHome {
	background:#DD0351;
            height: 30px;
            width: 80px;
            border-radius: 10px;
            border: 0;
            font-size: 8px;
            color: white;
            text-align: center;
}
#change{
	background:#DD0351;
            height: 30px;
            width: 80px;
            border-radius: 10px;
            border: 0;
            font-size: 8px;
            color: white;
            text-align: center;
}
#pwdChange {
		background:#DD0351;
            height: 30px;
            width: 80px;
            border-radius: 10px;
            border: 0;
            font-size: 8px;
            color: white;
            text-align: center; 
}
#getOut {
	background:white;
    height: 30px;
    width: 80px;
    border-radius: 10px;
    border: 1px solid #DD0351;
    font-size: 8px;
    color:#DD0351;
    text-align: center;
}
#rectangle7 {
            background:white;
            height: 30px;
            width: 80px;
            border-radius: 10px;
            border: 1px solid #DD0351;
            font-size: 8px;
            color:#DD0351;
            text-align: center;     
}
#textName {
	font-size:20px;
}
 #bookmarkList {
	margin-top: 20px;
	font-size: 20px;
	padding-left:50px;
}

#bookmarkContent {
	width: 600px;
	height: 200px;
	background-color: #F1F1F1;
	padding-top: 1px;
	border-radius: 5px;
	overflow-y :auto;
}

#bookmarkListBack {
	width: 580px;
	height: 40px;
	background-color: white;
	margin-top: 10px;
	margin-left: 10px;
	padding-top: 8px;
	border-radius: 5px;
}

#TaskLogo {
	width: 30px;
	height: 30px;
	border-radius: 75px;
	margin-left: 13px;
	background-color: gray;
}

#projectName {
	margin-left: 80px;
	margin-top: -30px;
} 

/* #bookMarkBtn{
	float:right;
	margin-right:150px;
	margin-top:50px;
	background:#DD0351;
    height: 30px;
    width: 80px;
    border-radius: 10px;
    border: 0;
    font-size: 8px;
    color: white;
    text-align: center; 
} */
#bookMarkBtn {
	float:right;
	margin-right:150px;
	margin-top:30px;
	height:50px;
	width:50px;
}
#uploadBtn {
	background:white;
            height: 30px;
            width: 80px;
            border-radius: 10px;
            border: 1px solid #DD0351;
            font-size: 8px;
            color:#DD0351;
            text-align: center;
            float:right;
}
#backUpload {
	background:white;
            height: 30px;
            width: 80px;
            border-radius: 10px;
            border: 1px solid #DD0351;
            font-size: 8px;
            color:#DD0351;
            text-align: center;
            
}