body{
	font-family : 'Noto Sans KR';
}

/* 전체 contentBox --------------------------------------*/
#contentBox{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}


/*상단 contentBox1 project list 테이블-------------------*/



.contentBox1-content-table-tr-td{
 	background: #FCFCFC;
	border: 0.2px solid #000000;
	width: 90%;
	height: 124px;
/* 	margin-right: 5%; */
	box-sizing: border-box;
	display: inline-block;
	cursor: pointer;
}

/* 프로젝트 최신 목록상자 왼쪽 사이드 색상 */
.left-padding-gray0{
/* 	height: 124px;
	width: 35px; */
	height:100%;
	width:100%;
/*  	border-left:35px solid #343434;  */
  	border-left:35px solid #DD0351;  
	box-sizing: border-box;
/* 	background: #454545; */
}
.left-padding-gray1{
/* 	height: 124px;
	width: 35px; */
	height:100%;
	width:100%;
/*  border-left:35px solid #454545; */ 	
 	border-left:35px solid #2B2B49; 
	box-sizing: border-box;
/* 	background: #454545; */

}
.left-padding-gray2{
/* 	height: 124px;
	width: 35px; */
	height:100%;
	width:100%;
/*  border-left:35px solid #E34880;  */
 	border-left:35px solid #AA0942; 
	box-sizing: border-box;
/* 	background: #454545; */
}
.left-padding-gray3{
/* 	height: 124px;
	width: 35px; */
	height:100%;
	width:100%;
 	border-left:35px solid #676767; 
	box-sizing: border-box;
/* 	background: #454545; */
}
.left-padding-gray3{
/* 	height: 124px;
	width: 35px; */
	height:100%;
	width:100%;
 	border-left:35px solid #787878; 
	box-sizing: border-box;
/* 	background: #454545; */
}
.left-padding-gray4{
/* 	height: 124px;
	width: 35px; */
	height:100%;
	width:100%;
 	border-left:35px solid #898989; 
	box-sizing: border-box;
/* 	background: #454545; */
}

/* 프로젝트 최신 목록상자 내부 프로젝트 명 */
.project-name{
	width: 100%;
	height: 60px;
	vertical-align: middle;
	line-height: 20px;
	padding: 10px;
	box-sizing: border-box;	
	font-family: Noto Sans KR;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	align-items: center;
	color: #000000;
}
/* 프로젝트 최신 목록상자 내부 참여자 수 */
.project-participants{
	width: 100%;	
	padding-left: 25%;
	font-family: Noto Sans KR;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 20px;
	align-items: center;
	color: #000000;
	box-sizing: border-box;
}
/* 프로젝트 최신 목록상자 내부 진행률 */
.project-progress-rate{
	width: 100%;
	padding-left: 25%;
	font-family: Noto Sans KR;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 20px;
	align-items: center;
	color: #000000;	
	box-sizing: border-box;	
}

/* 참여자수 및 진행률 표시 핑크색 버튼 */
.pink-btn{
	background: #DD0351;
	border-radius: 8px;
	width: 40px;
	height: 16px;
	display: inline-block;
	font-family: Noto Sans KR;
	font-style: normal;
	font-weight: bold;
	font-size: 10px;
	line-height:16px;
	align-items: center;
	text-align: center;
	color: #FFFFFF;
	vertical-align: middle;
	float: right;
	margin-right: 20%;
	margin-top: 3px;
}
/* 프로젝트 최신 목록상자 리스트 중 새프로젝트 추가 상자 */
.new-project-add{
	height: 60%;
	width: 60%;
	margin-left:auto;
	margin-right:auto;
	margin-top: 12%;
	box-sizing: border-box;
}	

.pointer:hover{
	cursor: pointer;	
}

/* 프로젝트 최신 목록상자 리스트 중 새프로젝트 추가 상자 안쪽 원형 플러스 버튼 */
.icon_circle_plus_red{
	width: 34px;
	margin-left: 35%
}

/* 프로젝트 최신 목록상자 리스트 중 새프로젝트 추가 상자 안쪽 텍스트 */
.new-project-add-text{
	width:100%;
	font-family: Noto Sans KR;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 25px;
	color: #000000;	
	text-align: center;
}
#contentBox1-content-table tr, #contentBox1-content-table tbody{
width: 100%;
}
#contentBox1-content-table td{
width: 18%;
}

#contentBox1-content-table{
width: 100%;
}

/*상단 contentBox1--------------------------------------*/
#contentBox1{
	width: 100%;
	height: 250px;
}
#contentBox1-title{
	font-family: Noto Sans;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 18px;
	align-items: center;
	letter-spacing: 0.1px;
	color: #000000;
}
#contentBox1-content{
	margin-top:25px;
	width: 100%;
	height: 180px;
	background: #F7F7F7;
	padding-top: 25px;
	padding-left: 53px;
	padding-right: 30px;
	box-sizing: border-box;
}

/*하단 contentBox2--------------------------------------*/
#contentBox2{
	width: 100%;
	height: 460px;
}

#contentBox2-title{

	font-family: Noto Sans;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 18px;
	align-items: center;
	letter-spacing: 0.1px;
	color: #000000;	
}
/* 프로젝트 추가 버튼 */
#contentBox2-btn{
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 45px;
	letter-spacing: 0.1px;
	background:#DD0351;
	border-radius: 10px;
	border: 0;
	color: white;
	height: 45px;
    width: 210px;
    float: right;
    margin-right: 13px;
	margin-top: -12px;
}
#contentBox2-btn:hover{
	cursor: pointer;	
}
/* 프로젝트 추가 버튼 아이콘 */
.icon_file_plus{
	vertical-align: center;
	padding-top:8px;
	box-sizing: border-box;
	float: left;
	margin-left: 25px;
	margin-right: 10px;

}
#icon_file_plus{
	width: 30px;
}

#contentBox2-content{
	margin-top:25px;
	height: 410px;
	overflow:auto
}

/*하단 contentBox2 project list 테이블-------------------*/
#contentBox2-content-table{
	width: 100%;
	border-spacing: 0;
	/* 행에 선 서식 주기 */
	border-collapse: collapse;
}

#contentBox2-content-table tr{
	width: 100%;
	height: 50px;
	vertical-align: center;
	border: 0.05px solid #000000;
	box-sizing: border-box;
}

#contentBox2-content-table tbody{
	width: 100%;
/* 	height: 400px !important;	 */
/* 	height: 100%;
	max-height:310px;
	overflow-y:scroll;
    overflow-x:hidden; */
}

/*테이블 스트롤바------------------------------------------------------- */
#contentBox2-content-table ::-webkit-scrollbar{
 	width: 5px; 
/* 	width: 25px; */
	padding-top: 10px;
}
#contentBox2-content-table ::-webkit-scrollbar-thumb{
/* 	background-color: #D9D9D9; */
 	background-color: red; 
	border-radius: 13px;
}
/*테이블 스트롤바 끝----------------------------------------------------- */


/*하단 contentBox2 project list 테이블 헤더----------------*/
#contentBox2-content-table th{
	width: 100%;
	height: 50px;
	background: rgba(206, 206, 206, 0.15);
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	height: 50px;
	letter-spacing: 0.1px;
	color: #000000;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#contentBox2-content-table thead{
	background: rgba(206, 206, 206, 0.15);
	border: 0.15px solid #000000;
	box-sizing: border-box;
	width: 100%;
	height: 50px;
}
#contentBox2-content-table td{
	height: 50px;
	box-sizing: border-box;
}
/* 테이블 구조 짜기 */
#contentBox2-content-table th:nth-child(1),
#contentBox2-content-table td:nth-child(1){
	width: 33%;	
	text-align: left;
	padding-left: 60px;
	box-sizing: border-box;
}
#contentBox2-content-table td:nth-child(1){	
	cursor: pointer;
}
/* 참여자 td */
#contentBox2-content-table th:nth-child(2),
#contentBox2-content-table td:nth-child(2){
	width: 18%;	
	padding:0;
	box-sizing: border-box;
	padding-right: 1.5%;
	text-align: right;
}
/* 초대 td */
#contentBox2-content-table th:nth-child(3),
#contentBox2-content-table td:nth-child(3){
 	width: 8%;	 
}

#contentBox2-content-table th:nth-child(4),
#contentBox2-content-table td:nth-child(4){
	width: 9%;	
}

#contentBox2-content-table th:nth-child(5),
#contentBox2-content-table td:nth-child(5){
	width: 9%;	
}

#contentBox2-content-table th:nth-child(6),
#contentBox2-content-table td:nth-child(6){
	width: 9%;		
}
#contentBox2-content-table th:nth-child(7),
#contentBox2-content-table td:nth-child(7){
	width: 7%;	
}

#contentBox2-content-table th:nth-child(8),
#contentBox2-content-table td:nth-child(8){
	width: 7%;	
}


/*하단 contentBox2 project list 테이블 바디----------------*/
/* 프로젝트 현재 참여자 */
.project-participant{
	height: 35px;
	width: 35px;
	float: right;
	margin-right: -8px;
/* 	margin-right: -10px; */
	border-radius: 221.5px;
	box-sizing: border-box;
	font-size: 11px;
	border: 2px solid #d2d2d2;
/* 	border: 2px solid #F3F3F3; */
	text-align: center;
	line-height: 35px;
}
.color0{background: #DD0351;}
.color1{background: #B8C800;}
.color2{background: #46CC9F;}
.color3{background: #BF6EFF;}
.color4{background: #0849A6;}
.color5{background: #E6892F;}
.color6{background: #C2665A;}
.color7{background: yellow;}
.color8{background: #2ED6E1;}
.color9{background: #2EE17B;}
.color10{background: #FF6E87;}
.color11{background: #5D6968;}
.color999{background: #ffd12d;}

/* 프로젝트 참여자 추가 버튼 */
.project-participant-add{
	border-radius: 221.5px;
	background: #C4C4C4;
	height: 35px;
	width: 35px;
	cursor: pointer;
	margin-left: 35%;
}
/* 프로젝트 참여자 추가 버튼 사람 이미지 */
.icon_user_plus{
	height: 22px;
	width: 22px;
}


/* 프로젝트 진행 상태 버튼 */
/* 완료 버튼 */
.completeBox{
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 35px;
	letter-spacing: 0.1px;
	background:#DD0351;
	border-radius: 10px;
	border: 0;
	color: white;
	height: 35px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}
/* 진행중 버튼 */
.proceedingBox{
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 35px;
	letter-spacing: 0.1px;
	background: #2B2B49;
	border-radius: 10px;
	border: 0;
	color: white;
	height: 35px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}


/* 미완료 버튼 */
.incompleteBox{
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 35px;
	letter-spacing: 0.1px;
	background: #C4C4C4;	
	border-radius: 10px;
	border: 0;
	color: black;
	height: 35px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

/* 프로젝트 마스터 */
.project-master{
	height: 35px;
	width: 35px;
	float: right;
	margin-right: 35%;
	border-radius: 221.5px;
	box-sizing: border-box;
	font-size: 11px;
	border: 2px solid #c0c0c0;
/* 	border: 2px solid #F3F3F3; */
	text-align: center;
	line-height: 35px;
}

/* delete버튼 (점점점 상세 버튼) */
/* .deleteBtn{
	background: #EFEFEF;
	border-radius: 6px;
	width: 35px;
	height: 35px;
	margin-left: auto;
	margin-right: auto;
	line-height: 35px;
	font-weight: bold;
	color: #959595;
} */
/* 마우스 올렸을 때 효과 */
.deleteBtn:hover{
	cursor: pointer;
	background:gray;
	color:white;
}

/* delete버튼 안쪽 점 icon */
#icon_more horizontalicon{
	height: 3px;
}

#contentBox2-content-table td{
	height: 50px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 50px;
	letter-spacing: 0.1px;
	color: #000000;
	margin: 0;
	padding: 0;
	text-align: center;
	box-sizing: border-box;
}



/*모달창 관련 css --------------------------------------------------*/

/* 필수 입력 표시 빨간색 별 */
.red-star{
	color: red;
	font-size: 13px;
	display: inline;
	margin-left: 5px;
}

/* 프로젝트 생성 관련 모달창 ------------------------------------------ */
.modalTable0{
	width: 504px;
	margin-top: 40px;
	border-collapse: collapse;
}
.modalTable0 tr{
	margin-bottom: 35px;
}
.modalTable0 tr:nth-child(2n+1){
	height: 50px;
	width: 504px;
	padding: 0;
	box-sizing: border-box;
}
.modalTable0 tr:nth-child(2n){
	height: 50px;
	width: 100%;
	padding: 0;
	box-sizing: border-box;
}
.modalTable0 tr:nth-child(2n+1) td{
	height: 50px;
	width: 252px;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.modalTable0 tr:nth-child(2){
	height: 50px;
	width: 504px;
	padding: 0;
	box-sizing: border-box;
}
.modalTable0 tr:nth-child(2) td{
	height: 50px;
	width: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.modal0 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
.btn-box{
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	box-sizing: border-box;
} 
.btn-box form{
	width: 100px;
	display: inline-block;
}
  /* Modal Content/Box */
.modal-content0 {
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 10px;
    border: 1px solid #c4c4c4;
    /* 모달창 크기 */
    width: 576px;
    height: 620px;
    z-index:1;
    border-radius: 10px;
    box-shadow: 0 0 4px #cccccc;
  }
/* 저장, 닫기 버튼  */
.modal0-ok, .modal0-close{
	/* 모달 버튼 css */
	margin-top: 13px;
	margin-left: 10px;
	margin-right: 10px;
	/* 여기서 부터 공통 css */
	border: 0;
	font-size: 8px;
	text-align: center; 
}
.modalTable0 tr:nth-child(2) input{
     width: 100%;;
     height: 28px;
     border: 1px solid #D5D5D5;
     border-radius: 5px;
     background-image: url('searchicon.png');
     background-size: 18px 18px;
     background-repeat: no-repeat;
     background-position: 95% center;
     padding: 0;
     box-sizing: border-box;
} 

.modalTable0 tr:nth-child(4) input, .modalTable0 tr:nth-child(6) input{
     width: 90%;;
     height: 28px;
     border: 1px solid #D5D5D5;
     border-radius: 5px;
     background-image: url('searchicon.png');
     background-size: 18px 18px;
     background-repeat: no-repeat;
     background-position: 95% center;
} 
.modalTable0 tr:nth-child(8) input{
     width: 100%;;
     height: 70px;
     border: 1px solid #D5D5D5;
     border-radius: 5px;
     background-image: url('searchicon.png');
     background-size: 18px 18px;
     background-repeat: no-repeat;
     background-position: 95% center;	
}
  
#search{
     width: 117px;
     height: 28px;
     border: 1px solid #D5D5D5;
     border-radius: 5px;
     background-image: url('searchicon.png');
     background-size: 18px 18px;
     background-repeat: no-repeat;
     background-position: 95% center;
}  
.modaltitle0{
	margin-left: 40px;
}
/* 동그란 버튼 css */
 .circle1 {
     background:#C4C4C4;
     height: 30px;
     width: 30px;
     border-radius: 50%;
     border: 0;
     font-size: 8px;
     color: white;
     text-align: center;      
 }
 .circle2 {
     background:#DD0351;
     height: 30px;
     width: 30px;
     border-radius: 50%;
     border: 0;
     font-size: 8px;
     color: white;
     text-align: center;
 }
 .circle3 {
     background:#2B2B49;
     height: 30px;
     width: 30px;
     border-radius: 50%;
     border: 0;
     font-size: 8px;
     color: white;
     text-align: center;
 }


/*-----------------------------------------------------------------*/

/* 프로젝트 삭제 관련 모달창 ------------------------------------------ */
.modalTable1{
	width: 500px;
	text-align: center;
  }
.modalTable1 td{
	width: 100%;
	height: 40px;
}  
.delete-modal-content{
	margin-bottom: 8px;	
}
.modal1 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
.modal-content1 {
    background-color: #fefefe;
    margin: 25% auto; /* 15% from the top and centered */
    padding: 10px;
    border: 1px solid #c4c4c4;
    width: 35%; /* Could be more or less, depending on screen size */
    height: 13%;
    z-index:1;
    border-radius: 10px;
    box-shadow: 0 0 4px #cccccc;
  }
.modal1-ok, .modal1-close{
	margin-top: 13px;
	margin-left: 10px;
	margin-right: 10px;
}

/*-----------------------------------------------------------------*/


/* 프로젝트 수정 관련 모달창 ------------------------------------------ */
.modalTable2{
	width: 504px;
	margin-top: 40px;
	border-collapse: collapse;
}
.modalTable2 tr{
	margin-bottom: 35px;
}
.modalTable2 tr:nth-child(2n+1){
	height: 50px;
	width: 504px;
	padding: 0;
	box-sizing: border-box;
}
.modalTable2 tr:nth-child(2n){
	height: 50px;
	width: 100%;
	padding: 0;
	box-sizing: border-box;
}
.modalTable2 tr:nth-child(2n+1) td{
	height: 50px;
	width: 252px;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.modalTable2 tr:nth-child(2){
	height: 50px;
	width: 504px;
	padding: 0;
	box-sizing: border-box;
}
.modalTable2 tr:nth-child(2) td{
	height: 50px;
	width: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.modal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
.btn-box{
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	box-sizing: border-box;
} 
.modalTable2 .btn-box input{
	float: left;
}
  /* Modal Content/Box */
.modal-content2 {
    background-color: #fefefe;
    margin: 10% auto; /* 15% from the top and centered */
    padding: 10px;
    border: 1px solid #c4c4c4;
    /* 모달창 크기 */
    width: 576px;
    height: 620px;
    z-index:1;
    border-radius: 10px;
    box-shadow: 0 0 4px #cccccc;
  }
/* 저장, 닫기 버튼  */
.modal2-ok, .modal2-close{
	/* 모달 버튼 css */
	margin-top: 13px;
	margin-left: 10px;
	margin-right: 10px;
	/* 여기서 부터 공통 css */
	border: 0;
	font-size: 8px;
	text-align: center; 
}
.modalTable2 tr:nth-child(2) input{
     width: 100%;;
     height: 28px;
     border: 1px solid #D5D5D5;
     border-radius: 5px;
     background-image: url('searchicon.png');
     background-size: 18px 18px;
     background-repeat: no-repeat;
     background-position: 95% center;
     padding: 0;
     box-sizing: border-box;
} 

.modalTable2 tr:nth-child(4) input, .modalTable2 tr:nth-child(6) input{
     width: 90%;;
     height: 28px;
     border: 1px solid #D5D5D5;
     border-radius: 5px;
     background-image: url('searchicon.png');
     background-size: 18px 18px;
     background-repeat: no-repeat;
     background-position: 95% center;
} 
.modalTable2 tr:nth-child(8) input{
     width: 100%;;
     height: 70px;
     border: 1px solid #D5D5D5;
     border-radius: 5px;
     background-image: url('searchicon.png');
     background-size: 18px 18px;
     background-repeat: no-repeat;
     background-position: 95% center;	
}
  
#search{
     width: 117px;
     height: 28px;
     border: 1px solid #D5D5D5;
     border-radius: 5px;
     background-image: url('searchicon.png');
     background-size: 18px 18px;
     background-repeat: no-repeat;
     background-position: 95% center;
}  
.modaltitle2{
	margin-left: 40px;
}
#updateName{
	cursor:default;
	color:white;
 	background: #DD0351;
 	padding-left: 10px;	
}
.modalTable2 tbody td input{
	padding-left: 10px;
	box-sizing: border-box;
}

/* 프로젝트 수정 관련 모달창 ------------------------------------------ */

/* 동그란 버튼 css */
 .circle1 {
     background:#C4C4C4;
     height: 30px;
     width: 30px;
     border-radius: 50%;
     border: 0;
     font-size: 8px;
     color: white;
     text-align: center;      
 }
 .circle2 {
     background:#DD0351;
     height: 30px;
     width: 30px;
     border-radius: 50%;
     border: 0;
     font-size: 8px;
     color: white;
     text-align: center;
 }
 .circle3 {
     background:#2B2B49;
     height: 30px;
     width: 30px;
     border-radius: 50%;
     border: 0;
     font-size: 8px;
     color: white;
     text-align: center;
 }


/* 버튼 css */
.rectangle6 {
    background:#DD0351;
    height: 30px;
    width: 80px;
    border-radius: 10px;
    border: 0;
    font-size: 9px;
    color: white;
    text-align: center;
    cursor: pointer;     
}
.rectangle7 {
    background:white;
    height: 30px;
    width: 80px;
    border-radius: 10px;
    border: 1px solid #DD0351;
    font-size: 9px;
    color:#DD0351;
    text-align: center;     
    cursor: pointer;     
}


/* 프로젝트 팀원 추가 관련 모달창 ------------------------------------------ */
.modalTable3{
	width: 100%;
	margin: 10% 6%;
	box-sizing: border-box;
}
.modalTable3 tr, .modalTable3 tbody, .modalTable3 td{
	width: 100%;
	box-sizing: border-box;
}
.modal3 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    box-sizing: border-box;
  }
.modalTable3 .btn-box{
	margin-left: 100px;
	width: 100%;
} 
  /* Modal Content/Box */
.modal-content3 {
    background-color: #fefefe;
/*     margin: 15% auto; 15% from the top and centered */
    margin-left:auto;
    margin-right:auto;
    margin-top: 300px; 
    padding: 10px;
    border: 1px solid #c4c4c4;
    /* 모달창 크기 */
/*     width: 45%;
    height: 45%; */
    height: 320px;
    width: 500px;
    z-index:1;
    border-radius: 10px;
    box-shadow: 0 0 4px #cccccc;
    box-sizing: border-box;
  }
/* 저장, 닫기 버튼  */
.modal3-ok, .modal3-close{
	/* 모달 버튼 css */
	margin-top: 13px;
	margin-left: 10px;
	margin-right: 10px;
	/* 여기서 부터 공통 css */
	font-size: 8px;
	text-align: center; 
}
/* 회색 상자 */
/* .modalTable3 tr:nth-child(2) input{
     width: 100%;
     height: 28px;
     border: 1px solid #D5D5D5;
     border-radius: 5px;
     background-image: url('searchicon.png');
     background-size: 18px 18px;
     background-repeat: no-repeat;
     background-position: 95% center;
     padding: 0;
     box-sizing: border-box;
}  */

.modaltitle3{
	margin-left: 40px;
}

/*-----------------------------------------------------------------*/



/*상세 설정 드롭 다운 css -------------------------------------------------- */
 .dropdown {
    display: inline-block;
/*  background-color: #ffffff; */
    box-shadow: 0 0 2px #cccccc;
    transition: all .5s ease;
    position: relative;
    font-size: 14px; 
/*     color: #474747; */
    text-align: center;
/*     border-radius: 10px; */
    border-radius: 221.5px; 
    border: 1px solid #dd0351; 
    float: right;
/* 회색 delete 버튼 css로 덮어쓰기 */   
	background: white;
	border-radius: 6px;
	width: 35px;
	height: 35px;
	line-height: 35px;
	font-weight: bold;
	color: #959595;  
	cursor: pointer;
	margin-right: 37%;  
  }
  /* 추가한 css */
  .dropdown .select {
      cursor: pointer;
      display: block;
      box-sizing: border-box;
  }
  .dropdown .select > i {
      font-size: 13px;
      color: #888;
      cursor: pointer;
      transition: all .3s ease-in-out;
      float: right;
      line-height: 20px
  }
  .dropdown:hover {
      box-shadow: 0 0 4px #FEF5F8;
      text-decoration-color: #dd0351;
      background-color: #FEF5F8;
      border-color: #FEF5F8;
  }
  .dropdown:active {
      background-color: #FEF5F8;
  }
  .dropdown.active:hover,
  .dropdown.active {
      box-shadow: 0 0 4px #FEF5F8;
      border-radius: 2px 2px 0 0;
      background-color: #f8f8f8;
  }
  .dropdown.active .select > i {
      transform: rotate(-90deg)
  }
  .dropdown .dropdown-menu {
      position: absolute;
      background-color: #fff;
      width: 100%;
      left: 0;
      margin-top: 1px;
      box-shadow: 0 1px 2px#FEF5F8;
      border-radius: 10px;
      overflow: hidden;
      display: none;
      max-height: 144px;
      overflow-y: auto;
      z-index: 9;
      /* select 박스 위치 옆으로 옮기기 */
      margin-left: -200%;
  }
  .dropdown .dropdown-menu li {
      padding: 5px;
      transition: all .2s ease-in-out;
      cursor: pointer
  } 
  .dropdown .dropdown-menu {
      padding: 0;
      list-style: none;
      width: 300%;
      /* 스크롤 안생기게 하기 */
      overflow: hidden;
  }
  .dropdown .dropdown-menu li:hover {
      color: #dd0351;
      background-color: #FEF5F8;
  }
  .dropdown .dropdown-menu li:active {
      background-color: #FEF5F8;
  }
/*상세 설정 드롭 다운 css 끝------------------------------------------------ */


#searchTeam{
	width: 400px;
	border-radius : 10px;
	height: 50px;
	background-color: lightgray;
	color: white;
	font-weight: normal;
	padding-left: 30px;
	box-sizing: border-box;
}
/* 데이터 리스트 팀 검색 */
#searchTeamList{
	width: 400px;
}	
#searchTeamList option{
	width: 400px;
	height: 50px;
}
#searchTeam:focus {
	transition: all ease 1s 0s;
	background-color: #DD0351;
	font-weight: normal;
}

/*검색 끝------------------------------------------------------------- */
/*체크 아이콘*/
.icon_check_pink{
	width: 15px;
}
