/* .black_overlay{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index:1001;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);
} */

.white_content {
    display: none;
    position: absolute;
    top: 15%;
    left: 25%;
    width: 35%;
    height: 35%;
    padding: 16px;
    border: 1px solid #c4c4c4;
    background-color: #fefefe;
    z-index:1002;
    overflow: auto;
    border-radius: 10px;
    box-shadow: 0 0 4px #cccccc;
}
		#header {
            padding-left: 10px;
        }
        #clockImg {
            width: 30px;
            height: 30px;
        }
        .result {
            display: inline-block;
            float: left;
        }
        .timeSet {
            display: inline-block;
            float: left;
            margin-left: 10px;
        }
        #graph {
            margin-left: 10px;
        }
        .leftTime {
            display: inline-block;
            float: left;
            margin-left: 20px;
        }
        #leftTime {
            margin-left: 130px;
        }
        #during{
            height: 30px;
        }
        .takenTime {
            margin-left: 20px;
        }
        #startDate {
            margin-left: 20px;
            margin-bottom: 10px;
        }
        #localTime {
            margin-left: 20px;
        }
        #Btn {
            display: inline-block;
            float: right;
        }
         #rectangle6 {
            background:#DD0351;
            height: 30px;
            width: 80px;
            border-radius: 10px;
            border: 0;
            font-size: 8px;
            color: white;
            text-align: center;     
        }
        #rectangle7 {
            background:white;
            height: 30px;
            width: 80px;
            border-radius: 10px;
            border: 1px solid #DD0351;
            font-size: 8px;
            color:#DD0351;
            text-align: center;     
        }
        .container {
        	width:300px;
        	height:200px;
        	font-size: 12px;
        	margin-top:10px;
        	margin-left:15px;
        }
     	ul.tabs{
        margin: 0px;
        padding: 0px;
        list-style: none;
        width:450px;
        }
        ul.tabs li{
        background: none;
        color: #222;
        display: inline-block;
        padding: 3px 5px;
        cursor: pointer;
        }

        ul.tabs li.current{
        background: #ededed;
        color: #222;
        }

        .tab-content{
        display: none;  
        padding: 15px 0;
        border-top:3px solid #eee;
        }

        .tab-content.current{
        display: inherit;
        }
        #tab-1 #tab-2 #tab-3{
        	display:inline-block;
        }
        #replyTab {
        	margin-left:28px;
        }