@charset "UTF-8";
 .taskdropdown {
    width: 120px;
    display: inline-block;
    background-color: #ffffff;
    box-shadow: 0 0 2px #cccccc;
    transition: all .5s ease;
    position: relative;
    font-size: 14px;
    color: #474747;/* 
    height: 100%; */
    text-align: center;
    margin-right: 30px;/* 
    margin-left: 30px; */
    border-radius: 10px;
    border: 1px solid #dd0351;
    float:right;
  }
  .taskdropdown .select {
      cursor: pointer;
      display: block;
      padding: 5px
  }
  .taskdropdown .select > i {
      font-size: 13px;
      color: #888;
      cursor: pointer;
      transition: all .3s ease-in-out;
      float: right;
      line-height: 20px
  }
  .taskdropdown:hover {
      box-shadow: 0 0 4px #FEF5F8;
      text-decoration-color: #dd0351;
      background-color: #FEF5F8;
      border-color: #FEF5F8;
  }
  .taskdropdown:active {
      background-color: #FEF5F8;
  }
  .taskdropdown.active:hover,
  .taskdropdown.active {
      box-shadow: 0 0 4px #FEF5F8;
      border-radius: 2px 2px 0 0;
      background-color: #f8f8f8;
  }
  .taskdropdown.active .select > i {
      transform: rotate(-90deg)
  }
  .taskdropdown .taskdropdown-menu {
      position: absolute;
      background-color: #fff;
      width: 100%;
      left: 0;
      margin-top: 1px;
      box-shadow: 0 1px 2px#FEF5F8;
      border-radius: 10px;
      overflow: hidden;
      display: none;
      max-height: 144px;
      overflow-y: auto;
      z-index: 9
  }
  .taskdropdown .taskdropdown-menu li {
      padding: 5px;
      transition: all .2s ease-in-out;
      cursor: pointer
  } 
  .taskdropdown .taskdropdown-menu {
      padding: 0;
      list-style: none
  }
  .taskdropdown .taskdropdown-menu li:hover {
      color: #dd0351;
      background-color: #FEF5F8;
  }
  .taskdropdown .taskdropdown-menu li:active {
      background-color: #FEF5F8;
  }
  .taskdropdown2 {
    width: 70px;
    display: inline-block;/* 
    box-shadow: 0 0 2px #cccccc; */
    transition: all .5s ease;
    position: relative;
    font-size: 14px;
    height:20px;
    text-align: center;
   /*  margin-right: 70px; *//* 
    margin-left: 30px; */
    border-radius: 10px;
    margin-top:-5px;
  }
  .taskdropdown2 .select {
      cursor: pointer;
      display: block;/* 
      padding: 5px */
  }
  .taskdropdown2 .select > i {
      font-size: 13px;
      color: #888;
      cursor: pointer;
      transition: all .3s ease-in-out;
      float: right;
      line-height: 20px
  }
  /* .taskdropdown2:hover {
      box-shadow: 0 0 4px #FEF5F8;
      text-decoration-color: #dd0351;
      background-color: #FEF5F8;
      border-color: #FEF5F8;
  } *//* 
  .taskdropdown2:active {
      background-color: #FEF5F8;
  } */
  .taskdropdown2.active2:hover,
  .taskdropdown2.active2 {/* 
      box-shadow: 0 0 4px #FEF5F8; */
      border-radius: 2px 2px 0 0;
      background-color: #f8f8f8;
  }
  .taskdropdown2.active .select > i {
      transform: rotate(-90deg)
  }
  .taskdropdown2 .taskdropdown2-menu {
      position: absolute;
      background-color: #fff;
      width: 100%;
      left: 0;
      margin-top: 1px;
      box-shadow: 0 1px 2px#FEF5F8;
      border-radius: 10px;
      overflow: hidden;
      display: none;
      max-height: 144px;
      overflow-y: auto;
      z-index: 9
  }
  .taskdropdown2 .taskdropdown2-menu li {
      padding: 5px;
      transition: all .2s ease-in-out;
      cursor: pointer
  } 
  .taskdropdown2 .taskdropdown2-menu {
      padding: 0;
      list-style: none
  }
  .taskdropdown2 .taskdropdown2-menu li:hover {
      color: #dd0351;
      background-color: #FEF5F8;
  }
  .taskdropdown2 .taskdropdown2-menu li:active {
      background-color: #FEF5F8;
  }
  #add {
  	width:20px;
  	height:20px;
  }