   .taskmodalTable{
      width: 100%;
      float:left;
      margin-left: 15px;
    /*   margin-top:-5px; *//* 
      height: 100%; 
      overflow-y: auto; */
       max-height: calc(100vh - 210px);
   	   overflow-y: auto;
     }
   .taskmodal {
       display: none; /* Hidden by default */
       position: fixed; /* Stay in place */
       z-index: 2; /* Sit on top */
       left: 0;
       top: 0;
       width: 100%; /* Full width */
       height: 100%; /* Full height */
       overflow-y: initial !important; /* Enable scroll if needed */
       background-color: rgb(0,0,0); /* Fallback color */
       background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
     }
     
     /* Modal Content/Box */
   .taskmodal-content {
       background-color: #fefefe;
       margin:10% auto; /* 15% from the top and centered */
       padding: 10px;
       border: 1px solid #c4c4c4;
       width: 50%; /* Could be more or less, depending on screen size */
       z-index:1;
       border-radius: 10px;
       box-shadow: 0 0 4px #cccccc;
       height: 60%;
       padding-top:20px;/* 
       max-height: calc(100vh - 210px);
   	   overflow-y: auto; */
     }
   .taskmodaltitle {
      margin-left:15px;
      padding-top:20px;
      width:400px;
      margin-right:0px;
   }
   .projectList {
      font-size:13px;
      float:left;
   }
   #project {
      padding-left:15px;
   }
   .taskclose {
      width:20px;
      height:20px;
      float:right;
      padding-right:15px;
      margin-top:-20px;
   }
   #attachment {
      background:#C4C4C4;
        height: 30px;
        width: 80px;
        border-radius: 10px;
        border: 0;
        font-size: 13px;
        color: black;
        text-align: center;
        float:left;
   }
   #subtask {
      background:#C4C4C4;
        height: 30px;
        width: 140px;
        border-radius: 10px;
        border: 0;
        font-size: 13px;
        color: black;
        text-align: center;
        float:left;
   }
   .taskmodalTable button img {
      width:20px;
      height:20px;
      margin:3px;
      float:left;
   }
   #intro {
      padding-top:10px;
   }
   .activity {
       border: 1px solid #DD0351;
         color:#DD0351;
         height: 20px;
         width: 55px;
         border-radius: 10px;
         font-size: 8px;
         text-align: center;
         background:white;
   }
   #attachment {
      margin-right:10px;
   }
   .profile {
      background:#C4C4C4;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        border: 0;
        font-size: 8px;
        color: white;
        text-align: center;
        float:left;
        margin-right:10px;
        margin-top:9px;
        float:left;
   }
   #userName {
   	  float:left;
   }
   #reply {
      margin-top:10px;
      height:20px;
      width:240px;
   }
   #bookmark {
      width:20px;
      height:20px;
      float:right;
      padding-right:5px;
      margin-top:-20px;
   }
   #share {
      width:20px;
      height:20px;
      float:right;
      padding-right:-5px;
      margin-top:-20px;
   }
   #additional {
      width:20px;
      height:20px;
      float:right;
      margin-right:30px;
      margin-top:-20px;
   }
   #count {
      padding-right:15px;
      float:right;
      font-size:14px;
   }
   #detail {
      width:30%;
      font-size:11px;
      float:left;
      margin-top:-50px;
   }
   .worker{
      margin-top:15px;
      border: 0;
      outline: 0;
      font-size:11px;
   }
   .detailprofile {
      background:#C4C4C4;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        border: 0;
        font-size: 8px;
        color: white;
        text-align: center;
        float:left;
        margin-right:10px;
        margin-top:-3px;
   }
   .dinput {
        font-size:11px;
   }
   .rTitle {
      padding-top:5px;
   }
   .subBtn {
      float:left;
      margin-top:3px;
   }
   #taskicon {
            width: 15px;
            height: 15px;
            background-color: #4CAEE8;
            background-image: url('/agile/resources/icon/common/icon_empty.png');
            background-size: 10px 10px;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 3px;
            margin-top:3px;
            float:left;
            margin-right:3px;
            margin-left:3px;
        }
    #storyicon {
            width: 15px;
            height: 15px;
            background-color: #64BA3E;
            background-image: url('/agile/resources/icon/common/icon_bookmark.png');
            background-size: 10px 10px;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 3px;
            margin-top:3px;
            float:left;
            margin-right:3px;
            margin-left:3px;
        }
    #summernote {
       display:none;
    }
    .label {
       font-size:13px;
    }
    #activity {
       padding-top:15px;
       padding-left:20px;
    }
    .intBtn {
       background:white;
        height: 25px;
        width: 60px;
        border-radius: 10px;
        border: 1px solid #DD0351;
        font-size: 13px;
        color:#DD0351;
        text-align: center;
        float:right;
        margin-left:10px;
    }
    #titleName {
       border:none;
       outline:none;
    }
    .modalButtonArea {
    	margin:30px;
    	text-align: center;
 	}
 	.taskCancel {
 		text-align: center;
    	display: inline-block;
    	vertical-align: middle;
    	line-height: 30px;
 	}
 	body {
		font-family : 'Noto Sans KR';
	}
	 .wrap-loading{ /*화면 전체를 어둡게*/
          position: fixed;
          left:0;
          right:0;
          top:0;
          bottom:0;
          background: rgba(0,0,0,0.2); /*not in ie */
          filter: progid:DXImageTransform.Microsoft.Gradient(startColorstr='#20000000', endColorstr='#20000000');    /* ie */
      }
      
      .wrap-loading div{ /*로딩 이미지*/
          position: fixed;
          top:50%;
          left:50%;
          margin-left: -21px;
          margin-top: -21px;
      }
      
      .wrap-loading div > img {
         width: 20%;
         height: 20%;
      }
      
      .display-none{ /*감추기*/
          display:none;
       }
       .taskMake{
       		background:#DD0351;
            height: 30px;
            width: 80px;
            border-radius: 10px;
            border: 0;
            font-size: 8px;
            color: white;
            text-align: center;
       }
        #replyBtn {
            background:#DD0351;
            height: 30px;
            width: 50px;
            border-radius: 10px;
            border: 0;
            font-size: 8px;
            color: white;
            text-align: center;
        }
        #replyBtnCan {
            background:white;
            height: 30px;
            width: 50px;
            border-radius: 10px;
            border: 1px solid #DD0351;
            font-size: 8px;
            color:#DD0351;
            text-align: center;
        }
        #subTaskMake {
        	background:#DD0351;
            height: 30px;
            width: 50px;
            border-radius: 10px;
            border: 0;
            font-size: 8px;
            color: white;
            text-align: center; 
         /*    margin-top:124px; */
        }
        #subTaskCan {
        	background:white;
            height: 30px;
            width: 50px;
            border-radius: 10px;
            border: 1px solid #DD0351;
            font-size: 8px;
            color:#DD0351;
            text-align: center;
            /* float:left; */
            /* margin-top:-10px; */
        }
        #taskmodalTable {
        	float:left;
        }
        #subTaskBox {
        	margin-top:10px;
        }
        #leftContent {
        	overflow-y:auto;
        	width:480px;
        	height:450px;
        	float:left;
        }/* 
        #subTaskTitle {
        	margin-left:-285px;
        	margin-top:130px;
        } */
/*         #replySelect{
        	float:left;
        	margin-top:10px;
        } */
.switch{
	position:relative;
	display: inline-block;
	width:60px;
	height:34px;	
}
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}
.slider {
	position:absolute;
	cursor:pointer;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:#ccc;
	-webkit-transition:.4s;
	transition:.4s;
}
.slider:before {
	position:absolute;
	content: "";
	height:26px;
	width:26px;
	left:4px;
	bottom:4px;
	background-color:white;
	-webkit-transition:.4s;
	transition:.4s;
}
input:checked + .slider {
	background-color:#DD0531;
}
input:focs + .slider {
	box-shadow: 0 0 1px #DD0531;
}
input:checked + .slider:before {
	-webkit-transition:translateX(26px);
	-ms-transform:translateX(26px);
	transform: translateX(26px);
}
.slider.round{
	border-radius:34px;
}
.slider.round:before {
	border-radius:50%;
}